@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: TTFirsNeue-Regular;
  src: url("./fonts/TTFirsNeue-Regular.ttf");
}
@font-face {
    font-family: TTFirsNeue-Bold;
    src: url("./fonts/TTFirsNeue-Bold.ttf");
  }
@tailwind base;
@tailwind components;
@tailwind utilities;
