@font-face {
    font-family: "TTFirsNeue-Regular";
    src: url("/fonts/TTFirsNeue-Regular.ttf");
}

@font-face {
    font-family: "TTFirsNeue-bold";
    src: url("/fonts/TTFirsNeue-Bold.ttf");
}

body {
    margin: 0 auto;
    font-family: TTFirsNeue-bold;
    text-align: center;
}

h1 {
    font-size: 22px;
}

span {
    color: #BFCADA;
    margin-bottom: 20px;
}

.head {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.main_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_box--img {
    margin-bottom: 20px;
}

.button {
    width: 365px;
    height: 66px;
    padding: 10px;
    margin-bottom: 4px;

    font-family: TTFirsNeue-bold;
    font-size: 22px;

    background: #FF1935;
    color: #f1f1f1;
    border-radius: 8px;
    border: none;
    box-shadow: inset 0px 4px 6px -2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}


.good-button {
    margin-bottom: 16px;
    background: #E2E7EE;
    color: #ff1935;
}